## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
artifacts/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.userprefs

## Rider / JetBrains
.idea/

## VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

## NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

## Database
.local/
*.db3
*.db3-shm
*.db3-wal

## OS files
.DS_Store
Thumbs.db
